.general {
            font-family: ubuntu, sans-serif;
            text-align: center;
            font-size: 20px;
            padding: 10px;
            
            box-shadow: 10px 10px 17px 0px rgba(98,140,166,1);
            box-shadow: 10px 10px 17px 0px rgba(98,140,166,1);
            
            margin: auto;
            margin-top: 10px;
        }

        table {
          border-collapse: collapse;
        }

        table, td, th {
          border: 1px solid grey;
        }

        
        #special {
            background-color: #628ca6;
            color: white;
        }
        
        #special td {
            font-weight: bold; 
        }
        
        tr:nth-child(2n+0) {
          background: #e7f0ed;
        }
        
        tr:nth-child(2n+1) {
          background: #e7ffed;
        }
        
        tr:first-child {
            background-color: #7fb9c2;
        }
        
        thead {
            font-size: 30px;
            font-weight: bold; 
        }
        
        tfoot td {
            font-size: 12px;
        }
        
        td {
            padding: 10px 10px 10px 10px;
        }  